
<body>
  {{> dash-nav}}
  <section class="wrapper-container">
   <section class="userIdOnDashboard" id="{{user.id}}">
    <p>Welcome Back {{user.user_name}}</p>
    <p> Have more to share...</p>
    <a href="/addEntry">
    <button>add post</button>
    </a>
   </section>
   YOUR ENTRIES
   <section class="userEntries">
    {{#each user.posts as |post|}}
    <section class="userEntry">
      <a href="/post/{{post.id}}">
      <h3>{{post.title}}</h3>
      </a>
      <a href="/editEntry">
        <button>Edit</button>
      </a>
      <button id="deleteBtn-{{post.id}}">delete</button>
    </section>
    {{/each}}
   </section>
    
   
  </section>
  <script src="/js/dashboard.js"></script>
</body>
